# python files
*.pyc

# config data
.env

# dorectory with log files
*.log

# tests
.pytest_cache

# access-keys storing in json files
credentials.json
credentials_old.json
credentiall_example.json

# notes of developer Dmitry for usage on local
typical_commands.txt
plan.txt
correct_old_path_credentials.json

# static file for Swagger UI
static/*