# search for "how to define directory id for Google Drive directory"
# it's easy to find
# use it in main.sevices.py
GOOGLE_DRIVE_DIRECTORY_ID=STRING 

# secret for settings.py
SECRET_KEY=LONG_STRING

# for CI/CD, look at production.yml
DOCKER_USERNAME=romashovzimadmitry

# for allowed hosts in settings.py
# change to IP host adress of your web-server
# ot stay like bellow if on local
HOST=127.0.0.1
