# search for "how to define directory id for Google Drive directory"
# it's easy to find
# use it in main.sevices.py
GOOGLE_DRIVE_DIRECTORY_ID=STRING

# secret for settings.py
SECRET_KEY=LONG_RANDOM_STRING

# for CI/CD, look at production.yml
DOCKER_USERNAME=DOCKERHUB_USERNAME_STRING

# for allowed hosts in settings.py
# change to IP host adress of your web-server
# ot stay like bellow if on local
HOST=localhost

# for JSON credentials hidden creating
PROJECT_ID=STRING
CLIENT_EMAIL=STRING
CLIENT_ID=STRING
PRIVATE_KEY_ID=STRING
PRIVATE_KEY=STRING


# To control allowed hosts and debug mode
# 1 is True, 0 is False
IS_PROD=0